.center {
    position: absolute;
    left: 0; right: 0; margin: auto;
}
.padding-remove {
    padding: 0!important;
}
.padding-addition {
    padding: .5rem 1rem;
}

.makeshift-button {
    cursor: pointer;
}

.hidden {
    display: none;
}